## Decision Tree Practice
I generated a dataset of "Whether the girl will like him".

The regulations are as follow
* male: height > 175cm
* male: weight > 60kg && < 80kg
* blood type needs to be match: A to A B to B, C to C
* Constellations: <br>
female:  male: <br>
白羊 1  | 人馬  水瓶  天秤  9  11 7<br>
金牛 2  | 天秤  天蠍  獅子  7  8  5<br>
雙子 3  | 水瓶  人馬  處女  11 9  6<br>
巨蟹 4  | 天蠍  雙魚  獅子  8  12 5<br>
獅子 5  | 天平  天蠍  巨蟹  7  8  4<br>
處女 6  | 雙魚  魔羯  巨蟹  12 10 4<br>
天瓶 7  | 金牛  天蠍  人馬  2  8  9<br>
天蠍 8  | 人馬  金牛  巨蟹  9  2  4<br>
人馬 9  | 天蠍  獅子  水瓶  7  5  11<br>
魔羯 10 | 金牛  處女  天蠍  2  6  8<br>
水瓶 11 | 雙子  人馬  天秤  3  9  7<br>
雙魚 12 | 巨蟹  處女  魔羯  4  6  10<br>

*星座若以以上配對方式，配對成功的機率實在太小，根據個人私心，我認為大部分的女生都喜歡摩羯座的男生，所以我將每個女生星座都配對上摩羯座

In [35]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.externals.six import StringIO   
from sklearn.tree import export_graphviz
import pydotplus
import matplotlib.pyplot as plt

In [36]:
df = pd.DataFrame(np.random.randn(50,4), columns=['Height', 'Weight', 'bloodtype', 'Constellation'])
# print(np.random.randint(0,9))

In [40]:
height=[]
weight=[]
female_blood=[]
female_constell=[]
male_blood=[]
male_constell=[]
like = []


def CONS(fe_co, ma_co):
    if fe_co==1:
        if ma_co==9 or ma_co==11 or ma_co==7 or ma_co==10:
            return(1)
        else:return(0)
    elif fe_co==2: 
        if ma_co==7 or ma_co==8 or ma_co==5 or ma_co==10:
            return(1)
        else:return(0)
    elif fe_co==3: 
        if ma_co==11 or ma_co==9 or ma_co==6 or ma_co==10:
            return(1)
        else:return(0)
    elif fe_co==4: 
        if ma_co==8 or ma_co==12 or ma_co==5 or ma_co==10:
            return(1)
        else:return(0)
    elif fe_co==5: 
        if ma_co==7 or ma_co==8 or ma_co==4 or ma_co==10:
            return(1)
        else:return(0)
    elif fe_co==6: 
        if ma_co==12 or ma_co==10 or ma_co==4 or ma_co==10:
            return(1)
        else:return(0)
    elif fe_co==7: 
        if ma_co==2 or ma_co==8 or ma_co==9 or ma_co==10:
            return(1)
        else:return(0)
    elif fe_co==8: 
        if ma_co==9 or ma_co==2 or ma_co==4 or ma_co==10:
            return(1)
        else:return(0)
    elif fe_co==9: 
        if ma_co==7 or ma_co==5 or ma_co==11 or ma_co==10:
            return(1)
        else:return(0)
    elif fe_co==10: 
        if ma_co==2 or ma_co==6 or ma_co==8 or ma_co==10:
            return(1)
        else:return(0)
    elif fe_co==11:  
        if ma_co==3 or ma_co==9 or ma_co==7 or ma_co==10:
            return(1)
        else:return(0)
    elif fe_co==12:  
        if ma_co==4 or ma_co==6 or ma_co==10 or ma_co==10:
            return(1)
        else:return(0)

for i in range(0,50):
    he = np.random.randint(155,185)
    we = np.random.randint(50,90)
    fe_bl = np.random.randint(1,3)
    fe_co = np.random.randint(1,12)
    ma_bl = np.random.randint(1,3)
    ma_co = np.random.randint(1,12)
    
    if he > 175:
        if we>60 and we<80:
            if fe_bl == ma_bl:
                li = CONS(fe_co, ma_co)
                if li==1:
                    like.append(1)
                else:like.append(0)
            else:like.append(0)
        else:like.append(0)
    else:like.append(0)
    
    height.append(he)
    weight.append(we)
    female_blood.append(fe_bl)
    female_constell.append(fe_co)
    male_blood.append(ma_bl)
    male_constell.append(ma_co)
    
d = { "Height": height, 
     "Weight": weight,
    "female_blood": female_blood,
    "male_blood": male_blood,
    "female_constell": female_constell,
    "male_constell": male_constell,
    "like":like}
df = pd.DataFrame(d)
df

,Height,Weight,female_blood,female_constell,like,male_blood,male_constell
0,176,73,1,3,0,2,8
1,179,67,2,10,0,2,3
2,163,77,1,4,0,2,2
3,176,71,1,2,1,1,10
4,181,79,1,5,0,2,2
5,164,71,1,5,0,2,7
6,157,67,1,3,0,1,4
7,176,59,2,1,0,1,3
8,157,56,1,8,0,1,2
9,157,50,2,7,0,2,9
10,163,50,1,5,0,2,11
11,165,89,1,7,0,1,1
12,180,88,1,9,0,2,4
13,160,62,2,3,0,2,11
14,172,62,1,10,0,2,4
15,155,83,1,6,0,1,8
16,179,65,1,10,0,2,4
17,177,65,2,1,0,1,5
18,172,73,1,3,0,1,4
19,173,66,1,7,0,2,1
20,170,83,2,1,0,1,5
21,176,62,2,9,0,1,5
22,178,75,2,1,0,2,6
23,168,84,1,2,0,2,11
24,162,80,1,11,0,2,5
25,176,79,2,2,1,2,5
26,175,66,2,5,0,1,6
27,173,79,1,10,0,2,3
28,160,74,1,5,0,1,7
29,162,64,2,6,0,2,1
30,156,77,1,8,0,1,11
31,176,79,1,8,0,1,5
32,165,75,1,10,0,2,5
33,160,50,2,11,0,2,10
34,155,52,1,10,0,2,6
35,176,74,1,11,1,1,9
36,182,70,1,8,1,1,9
37,179,73,1,10,0,2,8
38,158,72,1,10,0,2,10
39,157,80,2,11,0,2,9
40,155,53,2,6,0,2,1
41,167,76,2,8,0,2,7
42,176,67,2,3,0,1,10
43,164,68,2,6,0,2,10
44,162,60,2,7,0,2,4
45,176,73,2,2,0,1,10
46,177,64,2,6,1,2,4
47,163,54,2,9,0,2,2
48,165,73,1,2,0,1,1
49,156,85,1,1,0,1,4

In [41]:
df_train_y = df["like"].values
df_train = df.drop("like", axis=1)
df_train.head()

   Height  Weight  female_blood  female_constell  male_blood  male_constell
0     176      73             1                3           2              8
1     179      67             2               10           2              3
2     163      77             1                4           2              2
3     176      71             1                2           1             10
4     181      79             1                5           2              2

In [55]:
dtree=DecisionTreeClassifier()
dtree.fit(df_train, df_train_y)

dot_data = StringIO()
export_graphviz(dtree, 
                out_file=dot_data,  
                filled=True, 
                feature_names=list(df_train),
                class_names=['nolike','like'],
                special_characters=True)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_pdf("tree.pdf")

True

In [56]:
from IPython.display import IFrame, display
filepath = "tree.pdf"
IFrame(filepath, width=700, height=400)

!